.cta__section {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    padding-left: 4rem;
}

.cta__article{
    display: flex;
    padding: 2rem;
    border-radius: 1rem;
    justify-content: space-between;
    align-items: center;
    width: calc(100% - 4rem);
    flex-wrap: wrap;
}

.cta__text{
    font-size: 2rem;
    font-weight: 900;
    text-transform: uppercase;
    color: rgb(32, 27, 27);
    opacity: .7;
}

.cta__button{
    width: 15rem;
    border: none;
    background: var(--green);
    border-radius: 4rem;
    font-size: 2rem;
    padding: 1rem;
    color: var(--white);
}

.cta__button:hover{
    cursor: pointer;
}

@media screen and (max-width: 1000px) {
    .cta__section{
        padding-left: 0rem;
    }
}