footer {
    width: 100%;
    max-width: calc(100vw - 2rem);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 2rem;
    font-size: 3rem;
}

.footer__section{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #278fd1;
    padding-top: 1rem;
    width: 100%;
}

.footer__section p {
    font-size: 2rem;
    font-weight: 900;
    text-transform: uppercase;
    color: white;
    opacity: .7;
    display: flex;
    align-items: center;
    justify-content: center;
}


footer article{
    width: calc(50% - 3rem);
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

footer article div{
    display: block;
    padding-left: 0;
}
.footer__logo{
    width: 5rem;
    height: 5rem;
}
.footer--text{
    padding-bottom:2rem;
    width: 100%;
}

.footer--hover{
    color:white;
    display:flex;
    flex-direction: column;
    text-decoration: none;
    color: #278fd1;
}

.footer--hover:hover{
    text-decoration: underline;
}

.footer--gap{
    padding-bottom:2rem;
}

.mimola{
    width: 25rem;
    height: 5rem;
}