header {
    width: calc(100% - 6rem);
    border-radius: 1rem;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1rem;
    padding: 2rem;
}

header div{
    display: flex;
    gap: 2rem;
}

.header__img {
    height: 150%;
}

.header__logo{
    width: 6rem;
    height: 6rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header__link {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    border-radius: 10%;
    transition-duration: 0.2s;
    color: rgba(204, 191, 191, 0.747);
    font-size: 2rem;
    font-weight: 600;
}



.activ{
    color: var(--light-blue);
}
.activ .header__icon{
    fill: var(--light-blue);
}
.activ .card{
    background-color: var(--light-blue);
}
.header__link:hover {
    color: var(--light-blue);
}
.header__link:hover .card {
    background-color: var(--light-blue);
}
.header__link:hover .header__icon {
    fill: var(--light-blue);
}



.header__icon{
    width: 2rem;
    height: 2rem;
    fill: rgba(204, 191, 191, 0.747);
    transition: 0.2s;
}

.icon__div {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    
}



.card {
    width: 1.5rem;
    height: 2rem;
    border: 2px solid var(--background);
    border-radius: 0.5rem;
    background: rgba(204, 191, 191, 0.747);
    transition-duration: 0.2s;
}

.card1 {
    rotate: -45deg;
    position: absolute;
    left: 1rem;
}

.card2 {
    margin-left: 2rem;
}