*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

:root {
    --light-blue: #278fd1;
    --blue: #053294;
    --green: #76A553;
    --light-green: #A9D28C;
    --background: #eee;
    --white: white;
}

html {
    font-size: 62.5%;
    font-family: sans-serif;
}

main{
    background: var(--background);
}

.tile__section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5rem 12rem 0 12rem;
}

.tile__article {
    width: 40rem; 
    height: 40rem;
    border-radius: 5%;
}

.tile__link {
    width: 100%;
    height: 100%;
}

.tile__img {
    width: 100%; 
    height: 100%;
}