*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

:root {
    --light-blue: #278fd1;
    --blue: #053294;
    --green: #76A553;
    --light-green: #A9D28C;
    --background: #eee;
    --white: white;
}

html {
    font-size: 62.5%;
    font-family: sans-serif;
}

main{
    background: var(--background);
}

.tile__section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5rem 5rem 0 5rem;
}

.tile__article {
    width: 40rem; 
    height: 40rem;
    border-radius: 5%;
}

.tile__link {
    width: 100%;
    height: 100%;
}

.tile__img {
    width: 100%; 
    height: 100%;
}

.cta__section {
    padding: 5rem 5rem /*temp (varander naar 0)*/ 5rem /*temp*/ 5rem;
}

.cta__article{
    display: flex;
    background: var(--white);
    padding: 2rem;
    border-radius: 1rem;
    justify-content: space-between;
    align-items: center;
}

.cta__text{
    font-size: 3rem;
}

.cta__button{
    border: none;
    background: var(--light-blue);
    border-radius: 1rem;
    font-size: 3rem;
    padding: 1rem;
    color: var(--white);
}